@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.navbar-parent {
  border: 2px solid black;
  padding: 2px;
  display: flex;
  justify-content: space-between;
}

.navbar-second-parent {
  display: flex;
  gap: 10px;
}

.content {
  border: 2px solid black;
  padding: 2px;
  display: flex;
}

.content .left {
  background-color: red;
  flex: 10;
}

.content .right {
  background-color: greenyellow;
  flex: 4;
}
